env/

/obj/tmp_key.pkl
/obj/tmp_pipeline.pkl
/obj/max_temp.pkl
/obj/n_temp.pkl


*.pyc
__pycache__/
drug_design/__pycache__/
drug_design/datasets/__pycache__/
obj/__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_Store
