<p><a href="{{ url_for('main') }}">Return to main page</a></p>

<h2>
The available column headers are :
</h2>

{%for item in Columns %}
  <p>{{ item }}</p>
{%endfor%}

<h2>
Please type your choice of column exactly and select the source of SMILES you'd like to use :
</h2>

<form action = "{{ url_for('similarity_score_page')}}" name = "dataset list" method = "POST">
  <p>Which column?</p>
  <input name="column_choice">
  <p>What is the source of your SMILES?</p><br>
  <input type="radio" id="Smiles_1" name="what_smiles" value="single_smiles">
  <label for="single_smiles">A single SMILES string</label><br>
  <input type="radio" id="Smiles_2" name="what_smiles" value="dataframe_smiles">
  <label for="dataframe_smiles">A dataframe contains the SMILES strings I want to use</label><br>
  <input type = "checkbox" name="norm_on" value = "norm_true">
  <label for="norm_on"> Use normalised scores (This balances the score for the length of Smiles - exactly matching smiles score 100, completely dissimilar strings score 0)</label><br>
  <div><input type="submit"></div>
</form>
