<p><a href="{{ url_for('main') }}">Return to main page</a></p>

<h2>
The available dataset keys are :
</h2>

{%for key in Datafiles %}
  <p>{{ key }}</p>
{%endfor%}

<h2>
Please type your choice exactly :
</h2>

<form name = "dataset list" method = "POST">
  <input name="dataset_choice">
  <input type = "checkbox" name="clear_pipe" value = "clear">
  <label for="clear_pipe"> Clear out pipeline</label><br>
  <input name="tokenField" type="hidden" value = "{{csrf_token}}" />
  <input type="submit">
</form>
